* {
    margin: 0;
    padding: 0;
    border: 2px solid;
}

html {
    font-size: 1vw;
}


body {
    display: inline-block;
    background: cornsilk;
    color: rgba(240,100,255,0.7);

}

h2 {
    font-size: 2rem;
    color: #ff0000;
}

p {font-size: 1.5rem;
    font-family: ;

}

.Sber {
    color: lawngreen;
    font-weight: bold;
}

input {
    width: 100%;
}

.button {
    width: auto;
}

.first_div {
    font-size: 2rem;
}

h1:hover, h2:hover {
    font-size: 7em;
    color: yellow;
}